@charset "UTF-8";

/* 全体 */
body {
	background-color: rgb(204, 254, 154); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav, footer {
	background-color: rgb(1, 97, 26); /* 背景色 */
	color: #ffffff; /* 文字色 */
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

/* ヘッダー */
header a {
	text-decoration: none;
	color: #ffffff;
}

/* ナビゲーション内リンク(マウスオーバー時) */
nav a:hover {
	background-color: rgb(128, 128, 255);
}

/* 仕切り線 */
hr {
	border-top: 2px dashed rgb(251, 138, 0);
}

/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}

table {
    margin: 5px auto;
}

/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(251, 138, 0);
	color: #ffffff;
	border: none;
	width:150px;
	cursor: pointer;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(255, 194, 121);
}

/* フッター */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.square {
   width: 500px;
   height: 300px;
   margin: auto;
   margin-top: 80px;
   border-radius: 40px 40px 40px 40px;
   border: 3px solid rgb(1, 97, 26);
   background: rgb(217, 254, 199);
  
}

