/* 画面構成 */

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden; /* 全体スクロールを強制禁止 */
}

body {
	background-color: rgb(240,252,169); /* 背景色 */
}

.grid-area {
	display: grid;
	/* ヘッダー（80px）とフッター（約34px）の合計「114px」を引き算 */
	height: calc(100vh - 135px); 
	grid-template-rows: 100%;
	grid-template-columns: 40% 60%; 
}

.top-area {
	grid-row: 1;
	grid-column: 1;
	text-align: center;
	background-color: rgb(251,249,206);
	border-left:2px rgb(73,97,28);
}

.bottom-area {
	grid-row: 1;
	grid-column: 2;
	overflow-y: scroll;
	overflow-x: hidden;
}

.bottom-area button {
	margin-left: 2px;
	padding: 5px 20px;
	background-color: rgb(73,97,28);
	color: #ffffff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: none;
	cursor: pointer;
	
}

.bottom-area button:hover {
	background-color: rgb(219,252,46);
}


.price-area{
	position: sticky;/* ここに注目! */
	bottom: 0;
	width: 100%;
	background-color: rgb(191,210,103);
	text-align: center;
	
}

.price-area table, .price-area td{
	font-size: 20px;
	table-layout: fixed;
	border-style: none;
}

.price-area strong{
	font-size: 30px;
}

.top-area .box {
	background-color: rgb(191,210,103);      
	border: 2px solid rgb(73,97,28);
	border-radius: 12px;
	
	width: 80%;              
	max-width: 300px;
	margin: 20px auto;
	padding: 15px;
}

.top-area .box input {
	width: 120px;
	padding: 4px;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.top-area .box button {
	padding: 4px 10px;
	background-color: rgb(73,97,28);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


/* ヘッダー、フッターの設定 */
header {
	position: sticky; /* ここに注目! */
	top: 0;
	height: 80px;
	
	background: 
	linear-gradient(to right, rgb(219,252,46) 60%, transparent 40%) no-repeat,
	rgb(73,97,28);
	background-size: 10px 2px, auto;
	background-repeat: repeat-x, no-repeat;
	
	background-position: 0 76px, 0 0; 

	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
	
	display: flex;
	justify-content: center;
	align-items: center;
}


header a {
	text-decoration: none;
	color: #ffffff;
}

footer {
	width: 100%;
	height: 36px; /* フッターの高さを24pxに固定（上下padding 5px×2 と合わせて計34px） */
	background-color: rgb(73,97,28);
	color: #ffffff;
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
	display: flex;
	justify-content: center;
	align-items: center;
}


/* ナビゲーション */

nav {
	position: sticky;/* ここに注目! */
	top: 0;
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;  
	
	background-color: rgb(191,210,103);
	color: #ffffff;
	
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: center;
}

nav a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

nav a:hover {
	background-color: rgb(219,252,46);
	color: rgb(73,97,28);
}

nav button {
	margin-left: 2px;
	padding: 5px 20px;
	background-color: rgb(73,97,28);
	color: #ffffff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: none;
	width: 80px;
	cursor: pointer;
}

nav button:hover {
	background-color: rgb(219,252,46);
}

/* 表 */


table,th,td {
	border-collapse: collapse;
	border: 1px solid rgb(0, 51, 13);
}

table {
	margin: 5px auto;
	width: 95%;
}

table th {
	background: rgb(73,97,28);
	color: #ffffff;
}

table button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(191,210,103);
	color: rgb(73,97,28);
	border: 2px solid rgb(73,97,28);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	width: 80px;
	cursor: pointer;
}

table button:hover {
	background-color: rgb(219,252,46);
}

.form-submit {
	display: flex;
	justify-content: center; 
	margin-top: 15px;       
	margin-bottom: 15px;    
}

footer button {
	margin-left: 2px;
	padding: 5px 20px;
	background-color: rgb(251,249,206);
	color: rgb(73,97,28);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: none;
	width: 120px;
	cursor: pointer;	
}

footer button:hover {
	background-color: rgb(219,252,46);
}









