<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script>
		function goBack() {
			history.back();
		}
	</script>
</head>

<body>

	<h1>追加</h1>
	<form action="@{/items/{itemId}/edit(itemId=${item.id})}" method="post">
		<table border="1">
			<tr>
				<th>日付</th>
				<td><input type="date" name="addDate" th:value="${item.addDate}"></td>
			</tr>

			<tr>
				<th>名前</th>
				<td><input type="text" name="itemName" th:value="${item.itemName}"></td>
			</tr>

			<tr>
				<th>ジャンル</th>
				<td>
					<select name="genreId">
						<option th:each="genre:${genreList}" th:value="${genre.id}"
							th:selected="${item.genre.id == genre.id}">
							[[${genre.genreName}]]
						</option>

					</select>
				</td>
			</tr>

			<tr>
				<th>金額</th>
				<td><input type="text" name="price" th:value="${item.price}"></td>
			</tr>

			<tr>
				<th>コメント</th>
				<td><input type="text" name="comment" th:value="${item.comment}"></td>
			</tr>

		</table>
		<button>更新</button>
	</form>


	<button type="button" onclick="goBack()">一覧に戻る</button>
</body>

</html>