<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>家計簿</title>
</head>

<body>

	<h1>家計簿</h1>

	<table border="1">
		<tr>
			<th>日付</th>
			<th>名前</th>
			<th>ジャンル</th>
			<th>金額</th>
			<th>コメント</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.addDate}"></td>
			<td th:text="${item.itemName}"></td>
			<td th:text="${item.genre.genreName}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.comment}"></td>
			<td>
				<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="get">
					<button>編集</button>
				</form>
			</td>
			<td>
				<form th:action="@{/items/{itemId}/delete(itemId=${item.id})}" method="post">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	
	<a href="/items/add">追加</a>

</body>

</html>