<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>家計簿</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"> </header>

	<div class="grid-area">

		<div class="top-area">
			
			<div class="box">
				<span th:text="${@account.userName}+' の庭'"></span>
				<br>
				目標金額：[[${targetPrice}]]

				<form action="/items" method="get">
					<input type="int" name="targetPrice" placeholder="目標金額を入力">
					<button>決定</button>
				</form>
			</div>

			<br>

			<img th:if="${incomeAndOutcome &lt; 0}" th:src="@{/images/harinezumi-gyafn.png}" alt="ハリネズミ（赤字）"
				height="300px">

			<img th:if="${incomeAndOutcome &gt;= 0 and incomeAndOutcome &lt; targetPrice}"
				th:src="@{/images/harinezumi-ouen.png}" alt="ハリネズミ（通常）" height="300px">

			<img th:if="${incomeAndOutcome &gt;= targetPrice}" th:src="@{/images/harinezumi-star.png}" alt="ハリネズミ（目標達成）"
				height="300x">

		</div>

		<div class="bottom-area">


			<nav>
				<a href="/items">今月の収支</a>
				<a th:each="g : ${genres}" th:href="@{/items(genreId=${g.id})}">
					<span th:text="${g.genreName}" style="padding-right: 5px; padding-left: 5px;"></span>
				</a>

				<form action="/items/add" method="get">
					<button style="padding-left: 30px;" align="center">追加</button>
				</form>
			</nav>

			<table border="1">
				<tr>
					<th>日付</th>
					<th>名前</th>
					<th>ジャンル</th>
					<th>金額</th>
					<th>コメント</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
				<tr th:each="item:${items}">
					<td th:text="${item.addDate}"></td>
					<td th:text="${item.itemName}"></td>
					<td th:text="${item.genre.genreName}"></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.comment}"></td>
					<td>
						<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="get">
							<button>編集</button>
						</form>
					</td>
					<td>
						<form th:action="@{/items/{itemId}/delete(itemId=${item.id})}" method="post">
							<button>削除</button>
						</form>
					</td>
				</tr>
			</table>



			<div class="price-area">
				<table bordercolor="rgb(73,97,28)">
					<td style="color:blue">[[${income}]]</td>
					<td style="color:red">[[${outcome}]]</td>
				</table>
				<strong>[[${incomeAndOutcome}]]</strong>
			</div>


		</div>

	</div>

	<footer th:replace="~{footer}"></footer>
</body>


</html>