<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/styleLogin.css">
</head>

<body>

	<header th:replace="~{headerLogin}"></header>
	<hr>

	<div class="square">

		<br>
		<h1>ログイン</h1>
		
		
		<form action="/login" method="post">
			<input type="text" name="email" placeholder="メールアドレス"><br>
			<input type="text" name="password" placeholder="パスワード"><br>
			<br>
			<button>ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		
		<br>
		<a href="/register">新規登録はこちら</a>

	</div>
	
	<footer th:replace="~{loginFooter}"></footer>

</body>

</html>